<!-- templates/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Image Processing App</title>
</head>

<body>
    <h1>Upload an image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if processed_image_path %}
    <img src="{{ url_for('static', filename=processed_image_path) }}" alt="Processed Image" width="299" height="257">
    {% endif %}
</body>

</html>